.nav {
    grid-area: n;
    background-color:rgb(5, 5, 49);
    padding: 20px;
}

.item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}